<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Engine" type="Parmenide.Lib.Config.Configuration, Parmenide.Lib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>
  <Engine
    WebsiteName="Hugsa"
    WebsiteUrl=""
    WebsiteDescription=""
    DefaultConnectionString="mongodb://localhost"
    OpenIdProvider=""
    MyAccountUrl=""
    ElasticSearchUri=""
    MongodbReplicationHost=""
    MongodbReplicationPort=""
    FacebookAppId=""
    FacebookAdminId=""
    FacebookAppSecret=""
    ViadeoAppId=""
    AnalyticsAccount=""
    AnalyticsProperty=""
    EnableErrorEmails="true"
    TechnicalEmail="klejeune@parmenide.fr"
    ReplyToEmail="klejeune@parmenide.fr"
    ContactEmail="klejeune@parmenide.fr"
    SmtpServer="mail.parmenide.be:2525"
    SmtpServerUsername="mail"
    SmtpServerPassword="2vNdBs6r"
    EnableLibTypeSearch="false"
  />
</configuration>